body {
    background: rgb(180, 22, 23) no-repeat center;
    /* margin: 0 auto; */
    text-align: center;
    background-position: center auto;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: "hidden";
    margin: 0
}

.hide {
    display: none;
}

#avatar {
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#avatar img {
    width: 100%;
}

#avatar_template {
    position: absolute;
    top: 0;
    right: 0;
}

html,
body {
    height: 100%;
}

#avatar.yuanjiao {
    width: 300px;
    height: 300px;
    border: 2px solid whitesmoke;
    border-radius: 7px;
    margin-bottom: 3px;
}

#t.boxx {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

input,
button {
    border: none;
    outline: none;
}

.tl-price-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 7px 0;
    background: #F4F4F7;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.tl-price-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.ant-btn {
    border: 1px solid whitesmoke;
    border-radius: 4px;
    line-height: 1.499;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    cursor: pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    height: 32px;
    width: 300px;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    margin: 2px 2px;
}

.ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-red {
    color: #fff;
    background-color: #ef861d;
    border-color: #f4f4f4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.fileButton {
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background-color: #409eff;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 16%;
    height: 66px;
    z-index: 9999;
    /* background-color: #1890ff; */
}

.ld {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: #F4F4F7;
    z-index: 114514;
}

.jz {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sy {
    position: fixed;
    left: 0px;
    color: rgba(66, 66, 66, 0.4);
    font-size: x-small;
    z-index: 1919810;
}

.loading-div {
    overflow: hidden;
}